@CHARSET "UTF-8";

.formtable{
	width: 400px;
	border: 1px solid blue;
	padding: 10px;
}

.label {
	text-align: right;
	vertical-align: top;	
}

.control{
	margin-left: 10px;
}

input[type=text]{
	width: 300px;
	margin-left: 10px;	
}

textarea{
	width: 300px;
	height: 100px;
	margin-left: 10x	
}

.error{
	font-size: small;
	color: red;
	margin-left: 10px;
}

p.error{
	color:red;	
}